@import "normalize";

$main-color: #ff9204;

%nostyle-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin r_t_w_l($url,$width,$height){
    width: $width;
    height:$height ;
    background: url($url) no-repeat;
    background-size: 100% 100% ;
    text-indent: 110%;
    overflow: hidden;
    white-space: nowrap;
}



html {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.4;
    color: #555;
}

img{
    max-width: 100%;
}

a {
    color: #009ced;
    text-decoration: none;
    &:hover{
        color: #0081c3;
        text-decoration: underline;
    }
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.top-menu {
    background-color: $main-color;
    height: 36px;
    ul {
        @extend %nostyle-list;
        display: flex;
        justify-content: flex-end;
    }

    a{
        display: block;
        width: 90px;
        height: 36px;
        line-height: 36px;
        color: #fff;
        text-align: center;
        text-decoration: none;

        &:hover{
            background: #ff6204
        }
    }

    i {
        margin: 5px;
    }
}

h1.logo {
    margin: 0;

    img {
        width: 250px;
        height: 62px;
        display: block;
    }

    a {
        display: block;
    }
}


.top-block {
    height: 80px;  
    /*background-color: pink; */

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 9px 0;
    }
}


.search input {
    width: 250px;
    height: 28px;
    border: #ddd 2px solid ;
    border-radius: 17px;
    padding-left: 35px;
    input:focus{
        outline: none;
        border-color: #009ced;
        box-shadow: #009ced 0 0 2px;
    }

}

.search{
    position: relative;
    i {
        position: absolute;
        top: 9px;
        left: 9px;
    }
}

.main-menu {
    border-top: 1px #ddd solid ;
    border-bottom: 1px #ddd solid ;
    ul{
        @extend %nostyle-list;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    li{
        flex: 0 0 20%;
    }
    button{
        display: none;
    }
}
 
.main-menu a {
    display: block;
    color: #3d4143;
    line-height: 38px;
    height: 38px;
    text-align: center;
    text-decoration: none;
    transition-property: background;
    transition-duration: 0.5s;

    &:hover{
        background-color: $main-color;
        color: white;
    }
}

.index-image{
    height: 400px;
    background: url(/images/index-image.jpg) center center no-repeat;
    background-size: cover; /* khi nhet image vao se phu hop voi size dc cai dat*/
    .container{
        position: relative;
        height: 100%;
    }

    h2{
        font-size: 50px;
        color: rgba(255,255,255,0.8);
        position: absolute;
        margin: 0 0 0 150px;
        left: 50%;
        bottom: 80px;

        span{
            display: block;
            position: relative;
            left: 2em;
        }
    }
}

.new-items{
    .container{
        padding : 40px 0;
    }
    ul{
        @extend %nostyle-list;
        display: flex;
        justify-content: space-between;
    
        li{
            flex: 0 0 340px;
        }
        a:hover{
            text-decoration: underline;
        }
    }

}

.featured-item{
    background-color: #eee;
    padding: 40px 0;

    .item-content{
        display: flex;  
        
        .item-img{
            flex : 0 0 360px;
            margin-right: 30px;
        }
    }

    h2{
        color: $main-color;
        font-size: 2rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    h3{
        margin-top: 0;
        font-size: 1.5rem;
    }

    .user{
        text-align: right; /* or => float : right*/
        margin-top: 30px;

        img{
            display: inline-block;
            height: 80px;
            width: 80px;
            border-radius: 50%; 
            margin-left: 10px;
            vertical-align: middle;   
        }
    }
}


.news-and-principle {
    padding: 40px 0;

    .container{
        display: flex;
        justify-content: space-between; /*hoac trong tap con viet margin-left/right : auto*/
    }

    .news{
        flex-grow: 1;
        min-width: 0;
        
        h2{
            margin: 0 0 20px;
            @include r_t_w_l("/images/news-title@2x.png",120px ,36px )
        }
    }

    a:hover{
        text-decoration: underline;
    }
}

.news {
    ul{
        @extend %nostyle-list;
    }

    li{
        padding: 8px;
        border-bottom: #ddd 1px solid;
    }

    a{
        display: block;
        white-space: nowrap; /*khong bi xuong dong*/
        overflow: hidden;
        text-overflow: ellipsis; /*khi words vuot qua phan vi se tu dong hidden*/
    }

}

.news li:nth-of-type(even){
    background: #f5f5f5;
}

.news-and-principle{

    .principle-content{
        color: white;
        background: $main-color;
        padding: 10px;

        li{
            margin: 10px 0;
            font-size: 18px ;
        }
    }

    .principle{
        flex:0 0 280px;
        margin-left: 30px;
        display: flex;
        flex-direction: column-reverse;
        color: white;

        h2{
            height: 60px;
            margin: 0;
            padding: 20px;
            background-color: #5f5547;
            position: relative;
            img{
                height: 60px;
                width: 60px;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 5px;
                background-color: white;
                display :none;
            }

            &::before{
                content:"";
                display: inline-block;
                width: 60px;
                height: 60px;
                background: #fff url(/images/cat-head-animate@2x.png) no-repeat;
                background-size: 60px 300px;
                border-radius: 50%;
                vertical-align: middle;
                position: relative;
                animation-name: moving-img;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: steps(4);
            }

            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 0px;
                height: 0px;
                border-top: $main-color 10px solid;
                border-right: transparent 10px solid;
                border-bottom: transparent 10px solid;
                border-left: transparent 10px solid;
                top: 0;
                left: 40px;
            }
        }
    }

}

@keyframes moving-img{
    0%{
        background-position: 0px 0px;
    }
    50%{
        background-position: 0px -240px;
    }
    100%{
        background-position: 0px 0px;
    }         
}



.page-footer {
    padding: 40px 0;
    background-color: #3d4143;
    color: white;
    text-align: center;

    ul{
        @extend %nostyle-list;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }


    .business-hours{
        margin-top: 20px;
    }

    .copyright{
        margin-top: 20px;
    }
    li:not(:last-child){
        flex: 0 0 340px;
    }
}

@media screen and(max-width: 1140px){
    .container {
        width: 820px;
    }

    .index-image h2{
        left: auto;
        margin: 0;
        right: 2em;
    }

    .new-items ul li{
        flex: 0 0 260px;
    }

    .page-footer li:not(:last-child){
        flex: 0 0 260px;
    }

}

@media screen and(max-width: 880px) {
    .container{
        width: 740px;
    }

    .new-items {

        ul{
            flex-direction: column ;
            li{
                display: flex;
                flex-basis: auto;
                margin-bottom: 20px;
            }                  
        }

        li:last-child{
            margin-bottom: 0;
        }

        li>div{
            flex: 1;
        }
        
        li>a {
            flex: 0 0 200px;
            margin-right: 20px;
        }

        li h2{
            margin-top: 0;
        }
    }

    .news-and-principle{
        .container{
            flex-direction: column;

        }
        .principle{
            flex-direction: column;
            margin-left: 0;
            flex-basis: auto;
            margin-top: 20px;

            h2 {
                padding: 0;
                &::before{
                    border: $main-color 2px solid;
                }
                background: transparent;
                color: #5f5547;
                &::after{
                    display: none;
                }
            }

            ol{
                list-style: none;
            }

            ol li{
                position: relative;
            }

            ol li::before{
                width: 20px;
                height: 20px;
                display: block;
                border-radius: 50%;
                background: white;
                color: $main-color;
                text-align: center;
                line-height: 20px;
                position: absolute;
                top: 2px;
                left: -25px;
            }

            ol li:nth-child(1)::before{
                content: "1";
            }

            ol li:nth-child(2)::before{
                content: "2";
            }

            ol li:nth-child(3)::before{
                content: "3";
            }
        }
    }

    .page-footer ul{
        flex-direction: column;
        li:not(:last-child){
            flex-basis: auto; 
            margin: 10px 0;           
        }
    }
}

@media screen and(max-width: 767px) {
    .container{
        width: 90%;
    }

    .featured-item{
        .item-content{
            flex-direction: column;
            .item-text{
                text-align: center;
            }
            .item-img{
                flex-basis: auto;
                margin: 0 0 20px;
                img{
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and(max-width: 640px){
    .top-block {
        height: auto;
        .container {
            flex-direction: column;
            align-items: center;
        }
        .search{
            margin-top: 10px;           
        }
    }

    .main-menu{
        position: relative;
        .container{
            width: 100%;
        }
        button{
            display: block;
            background: white;
            border: none;
            width: 100%;
            height: 40px;
            i{
                margin-left: 5px;
            }
        }
        ul{
            flex-direction: column;
            position: absolute;
            top: 40px;
            width: 100%;
            background: rgba($color:white, $alpha: 0.5);
            z-index: 5;
            
        }
    }
}

@media screen and(max-width: 580px){
    .new-items{
        ul li{
            flex-direction: column;
        }
        ul li>a{
            margin-right: 0;
            text-align: center;
        }

        li h2{
            margin-top: 10px;
        }
    }

    .index-image h2{
        font-size: 30px;
    }

    .index-image{
        height: 300px;
    }

    .news a{
        white-space: normal;
    }
    
}